* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(
    rgb(4, 38, 205) 0%,
    rgb(129, 143, 247) 100%);
    border: solid 2px black;
    border-radius: 0.25em;
}

body {
  background-color: rgb(41, 132, 236);
}

p {
font-weight: bold;
font-size: 125%;
text-align: center;
}

.container-fluid { 
  background-image: linear-gradient(
    rgb(148, 149, 154) 0%,
    rgb(218, 219, 223) 100%);
    margin-top: -0.50%;
    border-radius: 0.25em;
}

footer {
  background-image: linear-gradient(
  rgb(4, 38, 205) 0%,
  rgb(129, 143, 247) 100%);
  width: 100%;
  height: 75px;
  border: solid 2px black;
  border-radius: 0.25em;
}

/************************* MOBILE DEVICE CONFIGURATIONS ************************/
@media (max-width: 900px) {

  .container {
    flex-wrap: wrap;
  }
  
}

@media (max-width: 760px) {
   
  .container {
    flex-wrap: wrap;
  }

}

@media (max-width: 500px) {
   
  .container {
    flex-wrap: wrap;
  }

}