* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #448aff;
}

.bg-transparent {
  background-image: linear-gradient(
  rgb(4, 38, 205) 0%,
  rgb(129, 143, 247) 100%);
}


/************************* MOBILE DEVICE CONFIGURATIONS ************************/

/* @media (max-width: 900px) {

  .container {
    flex-wrap: wrap;
  }
  
}

@media (max-width: 760px) {
   
  .container {
    flex-wrap: wrap;
  }

}

@media (max-width: 500px) {
   
  .container {
    flex-wrap: wrap;
  }

} */