* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(
    rgb(4, 38, 205) 0%,
    rgb(129, 143, 247) 100%);
    border: solid 1.5 black;
    border-radius: 0.25em;
}

#git {
  width: 75%; 
  height: auto;
  margin: 1%;
  border-radius: 0.25em;
  border: 0.5px solid whitesmoke;
}

#search {
width: 75%;
height: auto;
}

#select{
width: 50%;
height: auto;
}

#curcity {
width: 50%;
height: auto;
}

#forecast {
  width: 70%;
  height: auto;
}

p {
font-weight: bold;
font-size: 125%;
text-align: center;
}

.container-fluid { 
  background-image: linear-gradient(
    rgb(83, 84, 87) 0%,
    rgb(226, 226, 236) 100%);
    margin-top: -0.40%;
    border-radius: 0.25em;
    border: solid 1px black;
}

footer {
  background-image: linear-gradient(
  rgb(4, 38, 205) 0%,
  rgb(129, 143, 247) 100%);
  width: 100%;
  height: 100px;
  border: solid 1.5px black;
  border-radius: 0.25em;
}

#cloud {
  width: 30%;
  height: auto;
}

/************************* MOBILE DEVICE CONFIGURATIONS ************************/
@media (max-width: 992px) {

  .container {
    flex-wrap: wrap;
  }

  #git {
    width: 96%; 
    height: auto;
    margin: 2%;
    border-radius: 0.25em;
    border: 0.5px solid whitesmoke;
  }

  #search {
    width: 75%;
    height: auto;
  }

  #select{
    width: 60%;
    height: auto;
  }
}

@media (max-width: 768px) {
   
  .container {
    flex-wrap: wrap;
  }

  #git {
    width: 96%; 
    height: auto;
    margin: 2%;
    border-radius: 0.25em;
    border: 0.5px solid whitesmoke;
  }

  #search {
    width: 75%;
    height: auto;
  }

  #select{
    width: 60%;
    height: auto;
  }

    #forecast {
      width: 85%;
      height: auto;
    }
}

@media (max-width: 536px) {
   
  .container {
    flex-wrap: wrap;
  }

  #git {
    width: 96%; 
    height: auto;
    margin: 2%;
    border-radius: 0.25em;
    border: 0.5px solid whitesmoke;
  }

  #search {
    width: 75%;
    height: auto;
    }

    #select{
      width: 60%;
      height: auto;
      }

  #curcity {
    width: 75%;
    height: auto;
  }

  #forecast {
    width: 85%;
    height: auto;
  }
}